/*ringoffire_startscreen #404040*/
.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 960px) {
        overflow: hidden;
    }
    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}

.start-lable-box {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;

    img {
        width: 500px;
        height: auto;
        @media (max-width: 960px) {
            width: 400px;
        }
        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}

/*Buttons*/
.constraint {
    width: 700px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
    background: none;
    border: 0;
    margin: 0.5em;
    width: 400px;
}
.round-button {
    width: 25%;
}
.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 3px solid #dfa906;
    overflow: hidden;

    background: #2f1f220c;
    box-shadow: 0 0 3px gray;
    &:hover {
        background: #0000005b;
        border: 3px solid #fd0000ae;
        cursor: pointer;
    }
}

.round-button a,
.round-button span {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;

    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 1.9em;

    text-decoration: none;
}
