<!--Position Spieler-->
<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 100 + i * 90 }"
  class="player-position"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
></app-player>

<!--Kartenspielfeld-->
<div class="field">
  <div class="card-stack">
    <!--Karten Stapel-->
    <img
      *ngFor="let c of [0, 1, 2, 3, 4]; let i = index"
      [ngStyle]="{ 'right.px': i * 5 }"
      src="/assets/img/cards/card_cover.png"
    />

    <!--Oberstekarte im Deck-->
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
    />

    <!--Karte bleibt wenn gespielt Liegen -->
    <img
      *ngFor="let card of game.playedCards"
      class="played-card"
      src="/assets/img/cards/{{ card }}.png"
    />

    <!--Fliegendekarte Animation-->
    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      style="right: 25px"
      class="pick-card"
      src="/assets/img/cards/{{ currentCard }}.png"
    />
  </div>
</div>
<!--Gibt die Info was getan werden muss wenn Karte gespielt wird-->
<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>
<!--Button um neue Spieler hinzuzufügen-->
<button (click)="openDialog()" mat-fab color="basic" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
<!--Button um neue Spiel zu teilen-->
<button
  class="btn-share"
  mat-fab
  color="basic"
  (click)="shareDialog()"
  matTooltip="share game"
>
  <mat-icon>share</mat-icon>
</button>
